<script th:src="@{/js/jquery-1.12.4.min.js}"></script>
<script th:src="@{/js/jquery.plugin-countdown.min.js}"></script>
<script th:src="@{/js/jquery-countdown.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/owl.carousel.min.js}"></script>
<script th:src="@{/js/magnific-popup.min.js}"></script>
<script th:src="@{/js/isotope.min.js}"></script>
<script th:src="@{/js/jquery.scrollbar.min.js}"></script>
<script th:src="@{/js/jquery-ui.min.js}"></script>
<script th:src="@{/js/mobile-menu.js}"></script>
<script th:src="@{/js/chosen.min.js}"></script>
<script th:src="@{/js/slick.js}"></script>
<script th:src="@{/js/jquery.elevateZoom.min.js}"></script>
<script th:src="@{/js/jquery.actual.min.js}"></script>
<script th:src="@{/js/fancybox/source/jquery.fancybox.js}"></script>
<script th:src="@{/js/lightbox.min.js}"></script>
<script th:src="@{/js/owl.thumbs.min.js}"></script>
<script th:src="@{/js/jquery.scrollbar.min.js}"></script>
<script th:src="@{/js/frontend-plugin.js}"></script>

